.navi{
    height: 7rem;
    width: 100vw;
    background-color: rgb(236, 245, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid lightgray;
}
.navi > img{
    max-height: 80%;
    width: 8rem;
    margin-left: 1rem;
    border-radius: 2rem;
}
.navi > img:hover{
    height: 95%;
    transition: all 0.5s ease-in-out;
}
.nav_links>ul{
    display: flex;
   
  
}
.nav_links>ul>li{
  
    font-size: 1.7rem;
   
}

.nav_links>ul>li>a{
    color: rgb(180, 97, 97);
    font-weight: 600;
   padding: 1rem 2rem;
    display: block;
}
.nav_links>ul>li>a:hover{
    color: rgb(119, 73, 12);
    background-color: rgb(182, 221, 221);
    border-radius: 1rem;
    border-bottom: 0.087rem solid red;
    transition: all 0.5s ease-in-out;
    display: block;
}
.btns{
    display: flex;
    align-items: center;
    position: relative;
    right: 1rem;
    
}
.btns >input{
    padding: 0.7rem;
    margin-right: 2rem;
    border-radius: 2rem;
    width: 20rem;
    border: none;
    outline: none;
 
}
.btns > input:hover{
    border: 0.3rem solid lightblue;
    transition: all 0.5s ease-in;
}
.btns > input:focus{
    box-shadow: 0.01rem 0.01rem 0.2rem 0.2rem blue;
}
.btn2{
    font-size: 2rem;
    width: 7rem;
    margin-right: 4rem;
    position: absolute;
    right: -2rem;
    border-radius: 2rem;
    z-index: 10;
    border: 2px solid lightblue;
   
}
.btn2>span{
    color: red;
    font-size: 1.6rem;
    font-weight: 400;
    
}

.btn2:hover{
    border: 1px solid rgb(135, 203, 226);
    
}
.icons{
    display: none;
}
@media only screen and (max-width:768px){
    .btns{
        display: flex;
        align-items: center;
        position: relative;
        right: 4rem;
        
    }
    .icons{
        display: flex;
        font-size: 2rem;
        color: lightcoral;
        position: absolute;
        right: 2rem;
       
    }
    .nav_links{
        display: none;
    }
    .hamMenu{
        display: flex;
      position: absolute;
      top: 7rem;
      background-color: rgb(236, 245, 233);
      flex-direction: row;
      width: 40%;
      
      
    }
    .hamMenu > ul{
        display: flex;
        
    }
}